# 개행문자 통일
* text=auto eol=lf

*.bat   text eol=crlf
*.cmd   text eol=crlf
gradlew text eol=lf

# 바이너리
*.jar   binary
*.war   binary
*.class binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.ico   binary
*.webp  binary
*.pdf   binary
*.woff  binary
*.woff2 binary
*.ttf   binary

package-lock.json linguist-generated=true -diff
