.course-guide-tab-bar {
  display: flex;
  margin: 0 0 20px;
  padding: 0 20px;
  box-sizing: border-box;
}

.course-guide-tab-item {
  flex: 1;
  padding: 12px 0;
  background: none;
  border: none;
  font-size: 20px;
  color: #6e6e6e;
  cursor: pointer;
}

.course-guide-tab-item.active {
  color: #000000;
  font-weight: bold;
  border-bottom: 5px solid #f5a281;
}
